-f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
-f https://download.pytorch.org/whl/torch_stable.html torch===1.4.0

torch
fastai
starlette
uvicorn
python-multipart
aiofiles
aiohttp